node_modules
sb-admin-angular
ionicclient
storage
log
tmp
www
.idea
.temp
.sass-cache
client/bower_components
app/config.js
tmp
coverage
platforms
plugins
*.swp
*.swo
*.log
*.DS_Store
app/scripts/configuration.js
