 <div class="{{hideRepeat}}">
          <p>{{to.help}}</p>
          <div class="row repeatsection" ng-repeat="element in model[options.key]" ng-init="fields = copyFields(to.fields)">
            <formly-form fields="fields"
                         model="element"
                         form="form">
            </formly-form>
            <div class="col-md-1 form-group">  
              <label></label>
              <button type="button" class="btn btn-danger" ng-click="model[options.key].splice($index, 1)">
                  Elimina
              </button>
            </div>
         </div>
        <p class="AddNewButton">
          <button type="button" class="btn btn-primary btn-block" ng-click="addNew()" >{{to.btnText}}</button>
        </p>
 </div>