 <div class="{{hideRepeat}}">
          <p>REPEAT UPLOAD{{to.help}}SECTION</p>
          <div class="row repeatsection" ng-repeat="element in model[options.key]" ng-init="fields = copyFields(to.fields)">
            <formly-form fields="fields"
                         model="element"
                         form="form">
            </formly-form>
            <div class="col-md-1 form-group">  
              <label></label>
              <button type="button" class="btn btn-danger" ng-click="model[options.key].splice($index, 1)">
                  Elimina
              </button>
               <button type="button" class="btn btn-danger" ng-click="delItem($index)">
                  DelItem
              </button>
              <button class="button button-block button-primary"
                       ng-click="uploadSelectFile()">Upload file..</button>   
            </div>
         </div>
        <p class="AddNewButton">
          <button type="button" class="btn btn-primary btn-block" ng-click="addNew()" >{{to.btnText}}</button>
        </p>
        <button class="button button-block button-positive"
                        ng-click="openSelectFile()">Add file..</button>
                     
        <input id="upfile" type="file" class="upload" multiple custom-on-change="addFiles" />
        <button class="button button-block button-positive"
                        ng-click="startUpload()">Upload..</button>

 </div>