<div class="container">

    <h4>Node EventSource pub/sub {{sseUserId}}</h4>

    
    <div class="form-group">
      <div ng-repeat="color in listOfChannels">
          <label class="checkbox-inline">
            <input type="checkbox" ng-model="color.id">{{color.label}}
           </label>
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary btn-raised btn-lg" ng-click="vm.sseConnect()">CONNECT</button>
    <button type="submit" class="btn btn-primary btn-raised btn-info" ng-click="vm.sseSubscribe()">SUBSCRIBE</button>
    <button type="submit" class="btn btn-primary btn-raised btn-danger" ng-click="vm.sseUnsubscribe()">UNSUBSCRIBE</button>
    <button type="submit" class="btn btn-raised btn-raised btn-success" ng-click="vm.sseSendData()">SEND DATA</button>
    <button type="submit" class="btn btn-primary btn-raised btn-success" ng-click="vm.sseTest()">TEST</button>

<div class="form-group">
  <label class="col-lg-2 control-label">Radios</label>

  <div class="col-lg-10">
    <div class="radio radio-primary">
      <label>
        <input type="radio" name="optionsRadios" checked="">
        Option one
      </label>
    </div>
    <div class="radio radio-primary">
      <label>
        <input type="radio" name="optionsRadios">
        Option two
      </label>
    </div>
  </div>
</div>



   
     <div>
      <p>Sse Messages</p>
      <pre>{{vm.sseMessages | json}}</pre>
      <pre>{{listOfChannels | json}}</pre>
    </div>



  <h2>checkbox-inline</h2>
  <div class="form-group">
    <label class="checkbox-inline">
    <input type="checkbox" id="inlineCheckbox1" value="option1"> 1
  </label>
    <label class="checkbox-inline">
    <input type="checkbox" id="inlineCheckbox2" value="option2"> 2
  </label>
    <label class="checkbox-inline">
    <input type="checkbox" id="inlineCheckbox3" value="option3"> 3
  </label>
    <div>

      <h2>radio-inline</h2>
      <div class="form-group">
        <label class="radio-inline">
    <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 1
  </label>
        <label class="radio-inline">
    <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 2
  </label>
        <label class="radio-inline">
    <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> 3
  </label>
      </div>
    </div>
  </div>
</div>

<script> $.material.init(); </script>